
.todoInput{
    padding: 20px;
    margin-bottom: 20px;
    background: #393838;
    border-radius: 10px;
    border-bottom: 3px solid rgb(225, 152, 15);
}
.todoInput input{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.todoInput button{
    width: 150px;
    font-size: 25px;
    padding: 10px;
    margin-left: 20px;
    border: none;
    background: orange;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

.todoInput button:hover{
    background: rgb(225, 152, 15);
}